
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// *****START OF FRAMEWORK*****
.header{
  background-color: #F5F5F5;
  height: 49px;
  overflow: auto;
  .container-guts{
    height: 28px;
    width: 980px;
    margin-top: 7px;
  }
  img{
    height: 28px;
    width: 28px;
  }
  .search-box{
    display: inline-block;
    vertical-align: middle;
  }
  .input-box{
    // width: 350px;
    width:100%;
  }
  a{
    padding: 11px;
    color: #333333;
  font-weight: bold;
  }
  .fa-plus{
    font-size: 20px;
    color: #333333;
    vertical-align: middle;
  }
  .drop-down{
    float: right;
  }
}
// **********MIDDLE SECTIONS***********
.middle-section{
  background-color: lightgrey;
}
#left-side{
  img{
    border-radius: 15px;
  }
  .name{
    display: block;
    font-size: 30px;
    font-weight: bold;
  }
  .username{
    font-size: 20px;
    display: block;
    color: #666666;
    line-height: 24px;
  }
  button{
    height: 34px;
    width: 264px;
  }
  .email,.location,.blog,.joined{
    margin: 4px;
    display: block;
  }
  .fa-map-marker, .fa-clock-o, .fa-envelope-o, .fa-link{
    color: #999999;
  }
  hr{
    background: #E5E5E5;
    height: 1px;
  }
  .org{
    font-size: 16px;
    font-weight: 600;
  }
}
